@model UpdateAday

<div class="display-6">
	Apply
</div>

<form method="post" asp-controller="Course" asp-action="CourseUpdate">
	<div class="form-group my-2">
		<label asp-for="FirstName">First Name</label>
		<input asp-for="FirstName" class="form-control" />
		<span class="text-danger" asp-validation-for="FirstName"></span> <!-- Sadece FirstName için hata mesajı -->

	</div>

	<div class="form-group my-2">
		<label asp-for="LastName">Last Name</label>
		<input asp-for="LastName" class="form-control" />
		<span class="text-danger" asp-validation-for="LastName"></span>
	</div>

	<div class="form-group my-2">
		<label asp-for="Email">Email</label>
		<input asp-for="Email" class="form-control" />
		<span class="text-danger" asp-validation-for="Email"></span> <!-- Sadece Email için hata mesajı -->
	</div>

	<div class="form-group my-2">
		<label asp-for="Age">Age</label>
		<select asp-for="Age" class="form-control">
			<option value="18">18</option>
			<option value="19">19</option>
			<option value="20">20</option>
			<option value="21">21</option>
			<option value="22">22</option>
			<option value="23">23</option>
			<option value="24">24</option>
			<option value="25">25</option>
			<option value="26">26</option>
		</select>
	</div>
	<fieldset>
		<legend>Bir Kurs Seçiniz</legend>
		<p>
			<input id="csharp" type="radio" asp-for="SelectedCourse" value="C# Eğitim" checked />@*checked default olarak bunun seçilmesi anlamına gelir*@
			<label for="csharp">C# Eğitim</label>
		</p>
		<p>
			<input id="siber" type="radio" asp-for="SelectedCourse" value="Siber Güvenlik Eğitim" />
			<label for="siber">Siber Güvenlik Eğitim</label>
		</p>
		<p>
			<input id="python" type="radio" asp-for="SelectedCourse" value="Python Kursu" />
			<label for="python">Python Kursu</label>
		</p>
	</fieldset>
	<div class="form-group">
		<button type="submit" class="btn btn-primary">Gönder</button>
		<a class="btn btn-warning" asp-controller="Course" asp-action="Index">Anasayfa</a>
	</div>
</form>